<meta charset="utf-8">
<meta name="locale" content="<%= locale %>" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Travel</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/main.css">
