<div style='height: 3rem; background-color: #262323; text-align: center; line-height: 3rem; font-size: 1.4em;'>
  <a href='/' style='color: white; text-decoration: none;'>Les voyages de Pascal</a>
</div>
