<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class='trunk'>
      <h1>Hello</h1>
      <div class='section'>
        <img src='/thailand/thailand_boat.jpg' class='picture' style='width: 400px'></img>
        <div style='width: 2em; height: 1em;'></div>
        <div>
          <h2>Thaïlande</h2>
          <p>Ma première destination a été la Thaïlande</p>
        </div>
      </div>
      <div class='section'>
        <div>
          <div style='width: 16em; border-bottom: 3px solid #603616; height: 2em;'></div>
          <div style='width: 20em; border-bottom: 1px solid #603616; height: 2em;'></div>
          <div style='width: 20em; border-bottom: 1px solid #603616; height: 2em;'></div>
          <div style='width: 20em; border-bottom: 1px solid #603616; height: 2em;'></div>
          <div style='width: 20em; border-bottom: 1px solid #603616; height: 2em;'></div>
        </div>
        <div style='width: 2em; height: 1em;'></div>
        <img src='/thailand/thailand_elephant_01.jpg' class='picture' style='width: 400px'></img>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
