<!doctype html>
<html lang="<%- locale %>">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Hello</h1>
    <%- include('partials/footer') %>
  </body>
</html>
