@font-face {
  font-family: handwriting;
  src: url('/fonts/LaBelleAurore-Regular.ttf');
  /*src: url('/fonts/SquarePeg-Regular.ttf');*/
}

.handwriting {
  font-family: handwriting;
  font-size: 2em;
}

.desc {
  width: 100%;
  line-height: 2.8em;
  text-align: justify;
  flex-shrink: 1;
}

.picture {
  border: 15px solid transparent;
  width: 100%;
}

.trunk {
  min-width: 230px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0.5em;
}

.wide-trunk {
  width: calc(35em + 804px);
  max-width: 100%;
  margin: auto;
  padding: 0 0.5em;
}

.section {
  padding: 6em 1em;
  display: block;
  align-items: center;
}
.section > *:nth-child(2) {
  width: 3em;
  height: 1em;
  order: 2;
}

.image-header-ctn {
  max-height: calc(100vh - 3em);
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.image-header-title {
  width: fit-content;
  max-width: 30em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -1.4em);
  left: 50%;
  height: fit-content;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 0 1em;
  border-radius: 2em;
}

/* xs: 0, sm: 576, md: 768, lg: 992, xl: 1200, xxl: 1400 */
@media screen and (min-width: 992px) {
  .section {
    display: flex !important;
    padding: 6em 0;
  }
  .desc {
    width: 35em;
  }
}
@media screen and (max-width: 420px) {
  body { font-size: 0.9em; }
}
@media screen and (max-width: 360px) {
  body { font-size: 0.8em; }
}

.thailand .bg-color { background-color: #fbdfaa; }
.thailand .color, .thailand .color a { color: #603616 !important; }
.thailand .picture {
  border: 25px solid transparent;
  border-image: url("/border_07.jpg") 40 round;
}

.cambodia .bg-color { background-color: #736b63; }
.cambodia .color, .cambodia .color a { color: #000 !important; }
.cambodia .picture {
  border: 25px solid transparent;
  border-image: url("/border_02.jpg") 75 round;
}

.vietnam .bg-color { background-color: #aaecfb; }
.vietnam .color, .vietnam .color a { color: #603616 !important; }
.vietnam .picture {
  border: 25px solid transparent;
  border-image: url("/border_03.jpg") 33 round;
}

.china .bg-color { background-color: #0e241d; }
.china .color, .china .color a { color: #df0000 !important; }
.china .picture {
  border: 25px solid transparent;
  border-image: url("/pb-china7.png") 66 round;
}

.italy .bg-color { background-color: #916b62; }
.italy .color, .italy .color a { color: #000 !important; }
.italy .picture {
  border: 25px solid transparent;
  border-image: url("/border_06.jpg") 74 74 round;
}

.france .bg-color { background-color: #9e9eac; }
.france .color, .france .color a { color: #000 !important; }
.france .picture {
  border: 25px solid transparent;
  border-image: url("/border_01.png") 23 31 round;
}

.belgium .bg-color { background-color: #385332; }
.belgium .color, .belgium .color a { color: #fff !important; }
.belgium .picture {
  border: 25px solid transparent;
  border-image: url("/border_05.jpg") 60 50 round;
}

.netherlands .bg-color { background-color: #0c2d6c; }
.netherlands .color, .netherlands .color a { color: #fff !important; }
.netherlands .picture {
  border: 25px solid transparent;
  border-image: url("/border_04.png") 47 round;
}

.newzealand .bg-color { background-color: #b1daff; }
.newzealand .color, .newzealand .color a { color: #4b3530 !important; }
/*.newzealand .picture { border-image: url("/pb-white.png") 52 round; }*/
.newzealand .picture {
  border: 20px solid white;
  box-shadow: 10px 10px;
}
