body {
  background-color: #e3c784;
  color: #603616;
}

.picture {
  border: 15px solid transparent;
  border-image: url("/pb.png") 52 round;
}

.trunk {
  min-width: 230px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.5em;
}

.section {
  padding: 3em 1em;
  display: block;
  align-items: center;
}

.image-header-ctn {
  max-height: calc(100vh - 3em);
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.image-header-title {
  width: fit-content;
  max-width: 30em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -1.4em);
  left: 50%;
  height: fit-content;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 0 1em;
  border-radius: 2em;
}

/* xs: 0, sm: 576, md: 768, lg: 992, xl: 1200, xxl: 1400 */
@media screen and (min-width: 768px) {
  .section {
    display: flex !important;
    padding: 3em 0;
  }
}
