.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: handwriting;
  src: url('../fonts/LaBelleAurore-Regular.ttf');
  /*src: url('/fonts/SquarePeg-Regular.ttf');*/
}

.navbar {
  height: 3rem;
  background-color: var(--light);
  text-align: center;
  line-height: 3rem;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid var(--dark);
}
.navbar a {
  color: var(--text) !important;
  text-decoration: none;
}

.handwriting {
  font-family: handwriting;
  font-size: 2em;
}

.year {
  text-align: center;
  font-size: 3em;
  padding: 1.5rem;
  background-color: #262323;
  background-image: linear-gradient(to bottom, #151515, #353434, #151515, #000);
  color: #cccc7d;
  text-shadow: 2px 2px #13130e;
}

.separator {
  height: 4em;
  background-image: linear-gradient(to bottom, #262323, #262323, #3c3939);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.desc {
  width: 100%;
  line-height: 2.8em;
  text-align: justify;
  flex-shrink: 1;
}

.picture {
  display: block;
  border: var(--frame-width) solid transparent;
  width: 100%;
}

.trunk {
  min-width: 230px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1em;
}

.wide-trunk {
  width: calc(35em + 804px);
  max-width: 100%;
  margin: auto;
  padding: 0 1em;
}

.section {
  padding: 3em 0;
  display: block;
  align-items: center;
}
.section > .sep {
  width: 3em;
  height: 1em;
  order: 2;
}

.image-header-ctn {
  max-height: calc(100vh - 3em);
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.image-header-title {
  width: fit-content;
  max-width: 30em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -1.4em);
  left: 50%;
  height: fit-content;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 0 1em;
  border-radius: 2em;
}
  
.section {
  max-width: 804px;
  margin: auto;
}
.text-center {text-align: center;}

.d-none {display: none;}

/* xs: 0, sm: 576, md: 768, lg: 992, xl: 1200, xxl: 1400 */
@media screen and (min-width: 992px) {
  .section {
    display: flex !important;
    padding: 6em 0;
    max-width: 100%;
  }
  .desc {
    width: 35em;
  }
  .d-lg-block {display: block;}
  .d-lg-none {display: none;}
  .max-w-lg-15em {max-width: 15em;}
}
@media screen and (max-width: 576px) {
  .picture {
    margin-left: calc(-1 * var(--frame-width));
    width: calc(100% + 2 * var(--frame-width))
  }
}
@media screen and (max-width: 420px) {
  body { font-size: 0.9em; }
}
@media screen and (max-width: 360px) {
  body { font-size: 0.8em; }
}

:root {
  --light: #3c3939;
  --dark: #262323;
  --text: #fff;
  --frame-width: 25px;
}

.thailand {
  --light: #fbdfaa;
  --dark: #887a5d;
  --text: #4f2b11;
}

.bg-color {
  background-image: linear-gradient(to right, var(--dark), var(--light), var(--dark));
}
.bg-radial {
  background-image: radial-gradient(var(--light), var(--dark)) !important;
}
.color, .color a { color: var(--text) !important; }
.thailand h2 {
  text-shadow: 2px 2px #1e190d;
}
.thailand .picture {
  border-image: url("../border_07.jpg") 40 round;
}

.cambodia {
  --light: #a69a8e;
  --dark: #736b63;
  --text: #000;
}
.cambodia h2 {
  text-shadow: 2px 2px #423b35;
}
.cambodia .picture {
  border-image: url("../border_02.jpg") 75 round;
}

.vietnam {
  --light: #aaecfb;
  --dark: #46bad5;
  --text: #9B4A36;
}
.vietnam {
  text-shadow: 1px 1px #370909;
}
.vietnam .picture {
  border-image: url("../border_03.jpg") 33 round;
}

.china {
  --light: #174a3a;
  --dark: #0e241d;
  --text: #ff4901;
}
.china {
  text-shadow: 2px 2px #000;
}
.china .picture {
  border-image: url("../pb-china7.png") 66 round;
}

.japan {
  --light: #fbe;
  --dark: #ff5a5a;
  --text: #2D2926;
}
.japan h2 {
  text-shadow: 2px 2px #333;
}
.japan .picture {
  border-image: url("../border_01.png") 23 31 round;
}

.newzealand {
  --light: #cee9ff;
  --dark: #85c3fd;
  --text: #4b3530;
  --frame-width: 21px;
}
.newzealand h2 {
  text-shadow: 2px 2px #1e190d;
}
/*.newzealand .picture { border-image: url("/pb-white.png") 52 round; }*/
.newzealand .frame {
  border: 1px solid #828080;
}
.newzealand .picture {
  border: 20px solid white;
  box-shadow: 10px 10px;
}

.italy {
  --light: #a88d87;
  --dark: #755249;
  --text: #f4cbc0;
}
.italy {
  text-shadow: 2px 2px #05031e;
}
.italy .picture {
  border-image: url("../border_06.jpg") 74 74;
}

/*.france {
  --light: #b4b4c1;
  --dark: #757586;
  --text: #000;
}*/
.france {
  --light: #707070;
  --dark: #505050;
  --text: #d6ed17;
}
.france h2 {
  text-shadow: 2px 2px #1e190d;
}
.france .picture {
  border-image: url("../border_01.png") 23 31 round;
}

.belgium {
  --light: #4b6c44;
  --dark: #293e24;
  --text: #ffe77a;
}
.belgium {
  text-shadow: 2px 2px black;
}
.belgium .picture {
  border-image: url("../border_01.png") 23 31 round;
}

.netherlands {
  --light: #1b58cc;
  --dark: #0c2d6c;
  --text: #fff;
}
.netherlands {
  text-shadow: 2px 2px black;
}
.netherlands .picture {
  border-image: url("../border_01.png") 23 31 round;
}

.turkey {
  --light: #fff;
  --dark: #dce3ea;
  --text: #1c1c1c;
}
.turkey .picture {
  border-image: url("../border_01.png") 23 31 round;
}

.bulgaria {
  --light: #111;
  --dark: #000;
  --text: #eee;
}
.bulgaria .picture {
  border-image: url("../border_01.png") 23 31 round;
}

.usa {
  --light: #111;
  --dark: #000;
  --text: #eee;
}
.usa .picture {
  border-image: url("../border_01.png") 23 31 round;
}
